# Ignorar arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos e pastas gerados pelo Maven (backend Java)
order-control/target/
order-control/.idea/
order-control/.classpath
order-control/.project
order-control/.settings/
order-control/*.iml

# Ignorar arquivos de log
*.log

# Ignorar configurações específicas de IDE
*.idea/
*.vscode/
*.env

# Ignorar diretórios do Docker
postgres/data/
**/postgres/data/

# Ignorar arquivos temporários ou de cache
*.tmp
*.swp
*.bak
